<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="../js/vue.js" type="text/javascript" charset="utf-8"></script>
</head>
<body>
    <!-- 准备好一个容器 -->
    <div id="root">
        姓：<input type="text" v-model="firstname"><br/><br/>
        名:<input type="text" v-model="lastname"><br/><br/>
        姓名：<span>{{fullName()}}</span>
    </div>
    <script type="text/javascript">
        Vue.config.productionTip = false//阻止vue在启动时生成生产提示
        
        const vm =  new Vue({
            el: '#root',
            data: {
                firstname: 'firstname',
                lastname: 'lastname'
            },
            methods: {
                // 这样就可以实现对姓名本身的操作
                fullName(event){
                    return this.firstname.slice(0,3)+this.lastname.slice(0,3);
                },
            }
        })
    </script>
</body>
</html>